openapi: 3.1.0
info:
  title: Alacena API
  description: API para la gestión de la despensa, recetas, menús y notificaciones en la aplicación Alacena.
  version: 1.0.0
servers:
  - url: https://api.alacena.com/v1
    description: Servidor de producción
  - url: https://staging.api.alacena.com/v1
    description: Servidor de staging
paths:
  /usuarios:
    post:
      summary: Crear un nuevo usuario
      description: Crea un nuevo usuario en el sistema.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Usuario'
      responses:
        '201':
          description: Usuario creado exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Usuario'
        '400':
          description: Datos de entrada inválidos
        '500':
          description: Error interno del servidor

  /alimentos:
    get:
      summary: Obtener alimentos de la despensa
      description: Obtiene la lista de alimentos en la despensa del usuario autenticado.
      parameters:
        - name: usuario_id
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - name: categoria
          in: query
          required: false
          schema:
            type: string
        - name: lista_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Lista de alimentos obtenida exitosamente
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Alimento'
        '404':
          description: Usuario no encontrado
        '500':
          description: Error interno del servidor

  /recetas:
    post:
      summary: Crear una nueva receta
      description: Crea una nueva receta asociada al usuario autenticado.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Receta'
      responses:
        '201':
          description: Receta creada exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Receta'
        '400':
          description: Datos de entrada inválidos
        '500':
          description: Error interno del servidor

  /menus:
    get:
      summary: Obtener menús del usuario
      description: Obtiene la lista de menús asociados al usuario autenticado.
      parameters:
        - name: usuario_id
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - name: fecha_inicio
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: fecha_fin
          in: query
          required: false
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Lista de menús obtenida exitosamente
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Menu'
        '404':
          description: Usuario no encontrado
        '500':
          description: Error interno del servidor

  /notificaciones:
    get:
      summary: Obtener notificaciones del usuario
      description: Obtiene la lista de notificaciones asociadas al usuario autenticado.
      parameters:
        - name: usuario_id
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - name: tipo
          in: query
          required: false
          schema:
            type: string
            enum: [info, warning, error]
        - name: leida
          in: query
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Lista de notificaciones obtenida exitosamente
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Notificacion'
        '404':
          description: Usuario no encontrado
        '500':
          description: Error interno del servidor

  /ia/recomendaciones:
    post:
      summary: Obtener recomendaciones de menús
      description: Obtiene recomendaciones de menús saludables basadas en los alimentos disponibles en la despensa del usuario.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                usuario_id:
                  type: string
                  format: uuid
                preferencias:
                  type: object
                  properties:
                    dias_fuera:
                      type: array
                      items:
                        type: string
                        enum: [lunes, martes, miercoles, jueves, viernes, sabado, domingo]
                    restricciones:
                      type: array
                      items:
                        type: string
              required:
                - usuario_id
      responses:
        '200':
          description: Recomendaciones obtenidas exitosamente
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Menu'
        '404':
          description: Usuario no encontrado
        '500':
          description: Error interno del servidor

  /ia/habitos/analizar:
    post:
      summary: Analizar hábitos de compra y consumo
      description: Analiza los hábitos de compra y consumo del usuario para generar recomendaciones personalizadas.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                usuario_id:
                  type: string
                  format: uuid
                periodo:
                  type: string
                  enum: [semana, mes, trimestre]
              required:
                - usuario_id
      responses:
        '200':
          description: Análisis de hábitos completado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalisisHabitos'
        '404':
          description: Usuario no encontrado
        '500':
          description: Error interno del servidor

  /ia/inventario/autorrellenar:
    post:
      summary: Autorrellenar lista de la compra
      description: Genera una lista de la compra automática basada en el inventario actual y los hábitos del usuario.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                usuario_id:
                  type: string
                  format: uuid
                lista_id:
                  type: string
                  format: uuid
              required:
                - usuario_id
                - lista_id
      responses:
        '200':
          description: Lista autorrellenada exitosamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  productos:
                    type: array
                    items:
                      $ref: '#/components/schemas/Alimento'
                  explicacion:
                    type: string
        '404':
          description: Usuario o lista no encontrados
        '500':
          description: Error interno del servidor

  /chat/send:
    post:
      summary: Enviar mensaje al chat IA
      description: Envía un mensaje del usuario al sistema IA y devuelve el identificador de la conversación.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: string
                  format: uuid
                message:
                  type: string
                flow:
                  type: array
                  items:
                    type: string
                    enum: [nutricional, habitos, inventario]
              required:
                - user_id
                - message
      responses:
        '200':
          description: Mensaje enviado correctamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  conversation_id:
                    type: string
                    format: uuid
                  status:
                    type: string
                    enum: [pending, completed]
                required:
                  - conversation_id
                  - status
        '400':
          description: Datos de entrada inválidos
        '500':
          description: Error interno del servidor

  /chat/response/{conversation_id}:
    get:
      summary: Obtener respuesta del chat IA
      description: Devuelve la(s) respuesta(s) generada(s) por el orquestador y los agentes IA para una conversación.
      parameters:
        - name: conversation_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Respuestas de la conversación
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversacion'
        '404':
          description: Conversación no encontrada
        '500':
          description: Error interno del servidor

  /chat/history:
    get:
      summary: Obtener histórico de conversaciones
      description: Devuelve el histórico de conversaciones del usuario.
      parameters:
        - name: user_id
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 10
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Histórico de conversaciones
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ConversacionResumen'
        '404':
          description: Usuario no encontrado
        '500':
          description: Error interno del servidor

  /ia/status:
    get:
      summary: Estado del orquestador y agentes IA
      description: Devuelve el estado de los microservicios de IA.
      responses:
        '200':
          description: Estado de los servicios IA
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstadoIA'
        '500':
          description: Error interno del servidor

components:
  schemas:
    Usuario:
      type: object
      properties:
        id:
          type: string
          format: uuid
        nombre:
          type: string
        email:
          type: string
          format: email
        preferencias:
          type: object
          properties:
            idioma:
              type: string
              enum: [es, en]
            tema:
              type: string
              enum: [claro, oscuro]
            notificaciones:
              type: boolean
        metadata:
          type: object
      required:
        - nombre
        - email

    Alimento:
      type: object
      properties:
        id:
          type: string
          format: uuid
        usuario_id:
          type: string
          format: uuid
        nombre:
          type: string
        cantidad:
          type: integer
        unidad:
          type: string
        caducidad:
          type: string
          format: date
        categoria:
          type: string
        icono:
          type: string
        metadata:
          type: object
      required:
        - usuario_id
        - nombre
        - cantidad
        - unidad
        - caducidad

    Receta:
      type: object
      properties:
        id:
          type: string
          format: uuid
        usuario_id:
          type: string
          format: uuid
        nombre:
          type: string
        descripcion:
          type: string
        ingredientes:
          type: array
          items:
            type: object
            properties:
              alimento_id:
                type: string
                format: uuid
              cantidad:
                type: integer
              unidad:
                type: string
        instrucciones:
          type: array
          items:
            type: string
        tiempo_preparacion:
          type: integer
          description: Tiempo en minutos
        dificultad:
          type: string
          enum: [facil, media, dificil]
        etiquetas:
          type: array
          items:
            type: string
      required:
        - usuario_id
        - nombre
        - ingredientes

    Menu:
      type: object
      properties:
        id:
          type: string
          format: uuid
        usuario_id:
          type: string
          format: uuid
        fecha_inicio:
          type: string
          format: date
        fecha_fin:
          type: string
          format: date
        recetas:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
              format: uuid
        dias_fuera:
          type: array
          items:
            type: string
            enum: [lunes, martes, miercoles, jueves, viernes, sabado, domingo]
      required:
        - usuario_id
        - fecha_inicio
        - fecha_fin

    Notificacion:
      type: object
      properties:
        id:
          type: string
          format: uuid
        usuario_id:
          type: string
          format: uuid
        mensaje:
          type: string
        tipo:
          type: string
          enum: [info, warning, error]
        leida:
          type: boolean
        fecha:
          type: string
          format: date-time
      required:
        - usuario_id
        - mensaje
        - fecha

    MensajeChat:
      type: object
      properties:
        sender:
          type: string
          enum: [usuario, orquestador, agente_nutricional, agente_habitos, agente_inventario]
        content:
          type: string
        timestamp:
          type: string
          format: date-time
      required:
        - sender
        - content
        - timestamp

    Conversacion:
      type: object
      properties:
        conversation_id:
          type: string
          format: uuid
        messages:
          type: array
          items:
            $ref: '#/components/schemas/MensajeChat'
        status:
          type: string
          enum: [completada, pendiente]
      required:
        - conversation_id
        - messages
        - status

    ConversacionResumen:
      type: object
      properties:
        conversation_id:
          type: string
          format: uuid
        last_message:
          type: string
        last_timestamp:
          type: string
          format: date-time
        status:
          type: string
          enum: [completada, pendiente]
      required:
        - conversation_id
        - last_message
        - last_timestamp
        - status

    AnalisisHabitos:
      type: object
      properties:
        id:
          type: string
          format: uuid
        usuario_id:
          type: string
          format: uuid
        fecha_analisis:
          type: string
          format: date-time
        recomendaciones:
          type: object
          properties:
            sugerencias:
              type: array
              items:
                type: string
            prioridad:
              type: string
              enum: [alta, media, baja]
        metricas:
          type: object
          properties:
            consumo_semanal:
              type: object
              additionalProperties:
                type: number
            balance_nutricional:
              type: number
      required:
        - usuario_id
        - fecha_analisis

    EstadoIA:
      type: object
      properties:
        orquestador:
          type: string
          enum: [online, offline]
        agentes:
          type: object
          properties:
            nutricional:
              type: string
              enum: [online, offline]
            habitos:
              type: string
              enum: [online, offline]
            inventario:
              type: string
              enum: [online, offline]
          required:
            - nutricional
            - habitos
            - inventario
        metricas:
          type: object
          properties:
            peticiones_ultimo_minuto:
              type: integer
            tiempo_respuesta_medio:
              type: number
      required:
        - orquestador
        - agentes
